body {
  font-family: sans-serif;
  margin: 5px auto;
  width: 1024px;
}

#sidebar {
  float: left;
  width: 140px;
}

#sidebar h3 {
  font-size: 14px;
  padding: 0px;
  margin-top: 15px;
}

ul.sideMenu {
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
}

ul.sideMenu li {
  list-style-type: none;
}

ul.sideMenu li.guide {
  background: url("../img/silk/report.png") no-repeat;
  padding-left: 20px;
}

#main {
  float: right;
  width: 884px;
}

#userActions {
  float: right;
}

#openidLink {
  background: url("../img/openid/openid-16x16.png") no-repeat;
  padding-left: 20px;
}

#template {
  clear: both;
  padding-top: 10px;
}

footer {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 10px;
}

div.fb-like {
  float: left;
}

#license {
  color: #888;
  float: right;
  font-size: 12px;
}

#license a {
  color: #888;
}

#license a:hover {
  color: #222;
}

#searchForm {
  margin: 30px auto;
  text-align: center;
}

a {
  color: #422;
}

a:hover {
  color: #844;
}

a.delete {
  background: url("../img/silk/cross.png") no-repeat;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
}

table.ui-jqgrid-btable {
  border-collapse: separate;
}

textarea {
  width: 100%;
}

/* Disabled inputs don't get submitted, which we don't want. However, readonly elements are white by default, which is misleading */
input[readonly] {
  background: #eee;
}

span.hint {
  color: #aaa;
  font-size: 80%;
  margin-left: 10px;
}

h3 {
  margin-bottom: 5px;
}

div.actTitle {
  background: #eee;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: bold;
  padding: 6px;
}

div.actDetails {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: #333;
  font-size: 80%;
  line-height: 2.0;
  padding: 2px 6px;
  margin-bottom: 10px;
}

div.actDetails ul {
  padding: 0px;
  margin: 0px;
}

div.actDetails ul li {
  display: inline;
  list-style-type: none;
  padding-right: 10px;
}

.actEditLinks {
  background: url("../img/silk/pencil.png") left center no-repeat;
  padding-left: 20px;
}

.actPdfLink {
  background: url("../img/silk/page_white_acrobat.png") left center no-repeat;
  padding-left: 20px;
}

a.repealed {
  background: url("../img/silk/page_white_delete.png") no-repeat;
  color: #800;
  padding-left: 20px;
}

a.valid {
  background: url("../img/silk/page_white_go.png") no-repeat;
  color: #008;
  padding-left: 20px;
}

a.undefined {
  background: url("../img/silk/page_white.png") no-repeat;
  color: #666;
  padding-left: 20px;
}

div.repealedMention {
  background: #c90012;
  border: 1px solid #d0a080;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px;
}

div.repealedMention a {
  color: white;
}

ul.actList {
  list-style-type: none;
  padding-left: 20px;
}

div.actChange {
  border-style: solid;
  border-width: 1px;
  padding: 2px;
}

div.addedSection {
  border-color: #090;
  color: #090;
}

div.modifiedSection {
  border-color: #00c;
  color: #00c;
}

div.deletedSection {
  border-color: #c00;
  color: #c00;
  text-decoration: line-through;
}

div.actChangeDetails {
  color: #777;
  font-size: 80%;
  text-align: right;
}

span.deemphActName {
  color: #777;
  padding-left: 20px;
}

/** templates converted with MediaWiki **/

#template table th, #template table td {
  border: 1px solid #777;
  padding: 4px;
}

span.editsection {
  display: none;
}

/** auth/ pages **/

#openidProviders a {
  margin-right: 20px;
}

#openidProviders a img {
  vertical-align: middle;
}

#openidHeadline span {
  vertical-align: 12px;
}

/** flash messages **/

div.flashMessage {
  clear: both;
  margin: 10px auto;
  padding: 10px 10px 10px 35px;
  width: 600px;
}

div.infoType {
  background: #cfc url("../img/silk/accept.png") 8px 12px no-repeat;
  border: 1px solid green;
  color: green;
}

div.warningType {
  background: #feefb3 url("../img/silk/error.png") 8px 12px no-repeat;
  border: 1px solid #9f6000;
  color: #9f6000;
}

div.errorType {
  background: #fcc url("../img/silk/exclamation.png") 8px 12px no-repeat;
  border: 1px solid red;
  color: red;
}

/** act versions **/

table.actVersionTable {
}

table.actVersionTable th, table.actVersionTable td {
  border: 1px solid #777;
  padding: 3px 5px;
}

div.wikiHtmlPreview {
  border: 1px solid #ddd;
  height: 300px;
  margin: 10px 0;
  padding: 5px;
  overflow: auto;
}

/** raw texts **/

div.rawText {
  background: #f8f8f8;
  border: 1px solid #ccc;
  height: 500px;
  margin-top: 10px;
  overflow: auto;
  padding: 2px;
}

/** PDF image cropping **/

#pdfPageWrapper {
  border: 1px solid #444;
  display: inline-block;
  height: 400px;
  margin: 10px 0;
  overflow: auto;
  text-align: center;
  width: 850px;
}
